.main-news {
	height: auto;
	overflow: hidden;
	width: 1000px;
	margin: 8px auto;
}

.main-news>.left {
	float: left;
	width: 215px;
}

.sidebar_common
{
	height: auto;
	border: 1px solid #CCCCCC;
	clear: both;
	background: #fff;
}

.sidebar_common .cattitle
{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #CCCCCC;
	font-family: "微软雅黑";
	font-size: 15px;
	font-weight: bold;
	background: url(../img/icon-about.png) 20px center no-repeat;
	padding-left: 55px;
}

.sidebar_common .catcontent
{
	height: auto;
}

.sidebar_common .catcontent .item
{
	height: 40px;
	background: url(../img/line.png) center bottom no-repeat;
}

.sidebar_common .catcontent .item .left
{
	height: 24px;
	width: 20px;
	float: left;
	margin-top: 8px;
	margin-left: 45px;
}

.sidebar_common .catcontent .item a.right
{
	display: block;
	height: 40px;
	line-height: 40px;
	float: left;
	font-size: 14px;
	color: #000;
	margin-left: 20px;
}

.sidebar_contact
{
	height: 250px;
	border: 1px solid #CCCCCC;
	margin-top: 8px;
	background: #fff;
}

.sidebar_contact .cattitle
{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #CCCCCC;
	font-family: "微软雅黑";
	font-size: 15px;
	font-weight: bold;
	background: url(../img/icon-contact.png) 20px center no-repeat;
	padding-left: 55px;
}

.sidebar_contact .catcontent
{
	height: 210px;
}

.sidebar_contact .catcontent .item
{
	height: 32px;
	line-height: 32px;
	text-align: left;
	padding-left: 15px;
	font-size: 13px;
	background: url(../img/line.png) center bottom no-repeat;
}

.main-news>.right {
	min-height: 382px;
	height: auto;
	border: 1px solid #CCCCCC;
	width: 775px;
	float: right;
	background: #fff;
}

.subnav
{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #CCCCCC;
	padding-left: 10px;
	font-size: 14px;
}

.main-news>.right .row {
	height: 30px;
	border-bottom: 1px dotted #CCCCCC;
	width: 98%;
	margin: 0 auto;
}

.main-news>.right .row a {
	display: block;
	height: 30px;
	line-height: 30px;
	width: 500px;
	float: left;
	color: #000;
	font-size: 13px;
	padding-left: 20px;
}

.main-news>.right .row .pubdate {
	height: 30px;
	line-height: 30px;
	width: 150px;
	float: right;
	font-size: 13px;
	text-align: right;
	margin-right: 20px;
}

.page {
	height: 30px;
	padding-right: 30px;
	clear: both;
}

.page a {
	display: block;
	float: right;
	height: 18px;
	line-height: 18px;
	margin-top: 6px;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	color: #666;
	border: 1px solid #ccc;
	margin-left: 4px;
}