@charset "utf-8";
/* CSS Document */
body {
	background-color: #FDFDFD;margin:0;padding:0;
}
a{text-decoration:none;color:#090000;}
table{border:1px solid #EBEBEB; border-collapse:collapse;font-size:13px;width:99%;margin-left:auto;margin-right:auto;margin-top:5px;}
td{padding-top:10px;}
.tt{font-size:13px;text-align:left;font-weight:bold;background:url(../img/table_tt_bg.gif) left center repeat-x;border-top:none;height:28px;line-height:28px;}